/*
  dev: Sazumi Viki
  ig: @moe.sazumiviki
  gh: github.com/sazumivicky
  site: sazumi.moe
*/

.custom-popup {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    z-index: 9999;
    text-align: center;
    animation: fadeInOut 2s forwards;
    opacity: 0;
    backdrop-filter: blur(5px);
  }
  
  .custom-popup.error {
    background-color: rgba(255, 0, 0, 0.8);
    opacity: 0;
    backdrop-filter: blur(3px);
  }
  
  @keyframes fadeInOut {
    0% { opacity: 0; }
    25% { opacity: 1; }
    75% { opacity: 1; }
    100% { opacity: 0; }
  }
  